html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cellular {
  width: 375px;
  height: 92px;
  display: flex;
  flex-direction: column;
}

.time {
  width: 375px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 24px;
}

.time-style {
  width: 54px;
  height: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.28px;
  color: #000;
}

.status-bars {
  width: 66.66px;
  height: 11.34px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.hamburger-menu {
  width: 375px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
}

.logo-placeholder {
  width: 114px;
  height: 58px;
}

.logo {
  width: 90px;
  height: 28px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #28352f;
  margin: 0;
}

.bars {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
  border-style: none;
  background: white;
}

.bars:enabled {
  cursor: pointer;
}

.unions {
  width: 24px;
  height: 24px;
}

.bars:hover {
  background-color: lightskyblue;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 58px;
  width: 375px;
  height: 726px;
}

.bg-images {
  height: 648px;
  width: 399px;
  position: absolute;
  background: url('./images/mobile_version/frames/Group-35.png') no-repeat, url('./images/mobile_version/frames/Frame.png') 100% 0% no-repeat, url('./images/mobile_version/frames/Group-38.png') 5% 15% no-repeat, url('./images/mobile_version/frames/Group-36.png') 100% 40% no-repeat, url('./images/mobile_version/frames/Group-37.png') 0% 77% no-repeat, url('./images/mobile_version/frames/Frame_2.png') 40% 73% no-repeat, url('./images/mobile_version/frames/Frame_3.png') 98% 95% no-repeat;
}

.headline-section {
  width: 327px;
  height: 192px;
}

.headline-heading {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 0;
}

.headline-heading span {
  color: rgb(92, 129, 92);
}

.supporting-text {
  width: 327px;
  height: 164px;
}

.text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.social-media-icons {
  width: 170.17px;
  height: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  gap: 20px;
  padding-left: 0;
  margin: 0;
}

.social-media-icons > li {
  list-style: none;
}

.normal-button {
  width: 327px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.btn {
  width: 40px;
  height: 40px;
  background: #fff;
  padding: 8px;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
}

.btn:disabled {
  cursor: none;
}

.disabled-button {
  width: 24px;
  height: 24px;
}

.work {
  height: 3283px;
  gap: 58px;
  width: 379px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-heading {
  width: 327px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.recent-works {
  width: 327px;
  height: 97px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.indicator_horizontal {
  width: 48px;
  height: 4px;
  border-radius: 24px;
}

.main-content-cards {
  width: 331px;
  height: 2972px;
  display: grid;
  grid-row: 1 / 7;
  row-gap: 48px;
  padding: 4px 2px;
  align-items: center;
}

.card-work-1 {
  width: 327px;
  height: 474px;
  display: flex;
  flex-direction: column;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.image {
  width: 329px;
  height: 252px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 327px;
  height: 474px;
  background: #fff;
  border-radius: 8px;
}

.header-work-1 {
  width: 295px;
  height: 57px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #3a4a42;
  margin: 0;
  padding-top: 16px;
}

.list-languages {
  width: 305px;
  height: 32px;
  gap: 8px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ruby {
  width: 103px;
  padding: 8px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background: #ebf0ee;
  color: #3a4a42;
  border-radius: 4px;
  list-style: none;
}

.css {
  width: 45px;
  padding: 8px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background: #ebf0ee;
  color: #3a4a42;
  border-radius: 4px;
  list-style: none;
}

.javascript {
  width: 82px;
  padding: 8px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background: #ebf0ee;
  color: #3a4a42;
  border-radius: 4px;
  list-style: none;
}

.html {
  width: 51px;
  padding: 8px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background: #ebf0ee;
  color: #3a4a42;
  border-radius: 4px;
  list-style: none;
}

.button-frame {
  width: 305px;
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-green {
  padding: 12px;
  gap: 10px;
  width: 140px;
  height: 48px;
  bottom: 8px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin: 0;
}

.btn-green:hover {
  border: 1px solid blue;
  text-decoration: underline;
  text-decoration-color: blue;
}

.btn-green:active {
  background-color: green;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
  height: 1625px;
  width: 375px;
}

.about-me-bg-images {
  position: absolute;
  background: url('/images/mobile_version/Card/illustration-1-about-me-mobile.png') 100% -10% no-repeat, url('./images/mobile_version/Card/Group.png') 0% 99% no-repeat;
  width: 400px;
  height: 320px;
}

.text-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 0;
  width: 351px;
  height: 333px;
}

.about {
  width: 351px;
  height: 48px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.about-me-text {
  width: 351px;
  height: 189px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 0;
  padding-bottom: 24px;
}

.get-my-resume {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 159px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin: 0;
}

.button-frame2 {
  width: 305px;
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.get-my-resume:hover {
  border: 1px solid blue;
  text-decoration: underline;
  text-decoration-color: blue;
}

.get-my-resume:active {
  background-color: green;
}

.programming-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  gap: 24px;
  padding-top: 59px;
  width: 327px;
  height: 1106px;
}

.language-cards {
  width: 327px;
  height: 352px;
  background: url('/images/mobile_version/Card/Img_Plaholder.png') no-repeat;
}

.languages-icon {
  width: 327px;
  height: 128px;
  background: url('./images/mobile_version/Card/Icon-languages.png') 24% 124% no-repeat;
}

.title-and-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
  gap: 24px;
  width: 327px;
  height: 96px;
}

.languages-header {
  width: 337px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 8px;
  width: 271px;
  height: 40px;
}

.lang-1 {
  width: 89px;
  padding: 12px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.lang-2 {
  width: 55px;
  padding: 12px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.lang-3 {
  width: 53px;
  padding: 12px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.lang-4 {
  width: 50px;
  padding: 12px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.framework-cards {
  width: 327px;
  height: 352px;
  background: url('/images/mobile_version/Card/Img_Plaholder-2.png') no-repeat;
}

.frameworks-icon {
  width: 327px;
  height: 128px;
  background: url('./images/mobile_version/Card/Icon-frameworks.png') 24% 124% no-repeat;
}

.framework-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 327px;
  height: 144px;
}

.framework-header {
  width: 337px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.frame-tags {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 266px;
  height: 88px;
}

.frame-tags-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 8px;
  width: 300px;
  height: 40px;
}

.frame-19 {
  width: 84px;
  padding: 12px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  order: 0;
}

.frame-20 {
  width: 103px;
  padding: 12px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  order: 1;
}

.frame-21 {
  width: 63px;
  padding: 12px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  order: 2;
}

.frame-tags-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 8px;
  width: 172px;
  height: 40px;
}

.frame-22 {
  width: 83px;
  padding: 12px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  order: 0;
}

.frame-23 {
  width: 81px;
  padding: 12px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  order: 1;
}

.skills-cards {
  width: 327px;
  height: 352px;
  background: url('./images/mobile_version/Card/Img_Plaholder-3.png');
}

.skills-icon {
  width: 327px;
  height: 128px;
  background: url('./images/mobile_version/Card/Icon-skills.png') 24% 124% no-repeat;
}

.skills-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 327px;
  height: 144px;
}

.skills-header {
  width: 337px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.skills-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 8px;
  flex-wrap: nowrap;
  width: 303px;
  height: 88px;
}

.skills-frame-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 8px;
  width: 303px;
  height: 40px;
}

.skills-24 {
  width: 72px;
  padding: 12px;
  list-style: none;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background: #fff;
  border-radius: 8px;
  order: 0;
}

.skills-25 {
  width: 67px;
  padding: 12px;
  list-style: none;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background: #fff;
  border-radius: 8px;
  order: 1;
}

.skills-26 {
  width: 79px;
  padding: 12px;
  list-style: none;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background: #fff;
  border-radius: 8px;
  order: 2;
}

.skills-27 {
  width: 61px;
  padding: 12px;
  list-style: none;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background: #fff;
  border-radius: 8px;
  order: 3;
}

.skills-frame-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 8px;
  width: 77px;
  height: 40px;
}

.skills-28 {
  width: 77px;
  padding: 12px;
  list-style: none;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background: #fff;
  border-radius: 8px;
  order: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
  width: 375px;
  height: 879px;
}

.form-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  width: 327px;
  height: 363px;
  align-items: center;
}

.text-section {
  width: 327px;
  height: 363px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
  gap: 24px;
  width: 327px;
  height: 330px;
}

input[type=text] {
  height: 48px;
  width: 327px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
}

input[type=email] {
  height: 48px;
  width: 327px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
}

#message {
  height: 148px;
  width: 327px;
  border: 1px solid #60c095;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
}

#name {
  height: 48px;
  width: 327px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #6b778c;
}

.contact-bg-image {
  width: 92.81px;
  height: 132.37px;
  position: absolute;
  background: url('./images/mobile_version/frames/Frame-contact.png') no-repeat;
  left: 409.63px;
  top: 6500px;
}

.social-media-icon {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  height: 20px;
  width: 170.17px;
  padding-top: 40px;
  padding-left: 0;
  margin: 0;
  gap: 20px;
}

.social-media-icon > li {
  list-style: none;
}

.supporting-text-2 {
  height: 189px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.contact-form button[type=submit]:hover {
  background-color: green;
}
