
   .logo {
    width: 90px;
    height: 28px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #28352f;
    margin: 0;
  }

  .social-media-icons > li {
    list-style: none;
  }

  .normal-button {
    width: 327px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .btn {
    width: 40px;
    height: 40px;
    background: #fff;
    padding: 8px;
    border: 1px solid #dfe1e6;
    border-radius: 32px;
  }

  .btn:disabled {
    cursor: none;
  }

  .disabled-button {
    width: 24px;
    height: 24px;
  }

  .work {
    height: 3283px;
    gap: 58px;
    width: 379px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work-heading {
    width: 327px;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
  }

  .main-content-cards {
    width: 331px;
    height: 2972px;
    display: grid;
    grid-row: 1 / 7;
    row-gap: 48px;
    padding: 4px 2px;
    align-items: center;
  }

  .header-work-1 {
    width: 295px;
    height: 57px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #3a4a42;
    margin: 0;
    padding-top: 16px;
  }

  .html {
    width: 51px;
    padding: 8px 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    background: #ebf0ee;
    color: #3a4a42;
    border-radius: 4px;
    list-style: none;
  }

  .about-me-bg-images {
    position: absolute;
    background: url('/images/mobile_version/Card/illustration-1-about-me-mobile.png') 100% -10% no-repeat, url('./images/mobile_version/Card/Group.png') 0% 99% no-repeat;
    width: 400px;
    height: 320px;
  }

  .text-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 0;
    width: 351px;
    height: 333px;
  }

  .about {
    width: 351px;
    height: 48px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
  }

  .about-me-text {
    width: 351px;
    height: 189px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    margin: 0;
    padding-bottom: 24px;
  }

  .languages-header {
    width: 337px;
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #344563;
    margin: 0;
  }

  .framework-cards {
    width: 327px;
    height: 352px;
    background: url('/images/mobile_version/Card/Img_Plaholder-2.png') no-repeat;
  }

  .skills-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 8px;
    flex-wrap: nowrap;
    width: 303px;
    height: 88px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
    gap: 24px;
    width: 327px;
    height: 330px;
  }

  .header {
    display: none;
  }

  .desktop-headline {
    display: none;
  }

  .desktop-form {
    display: none;
  }

  footer {
    display: none;
  }
}